// Section Background Colors
//––––––––––––––––––––––––––––––––––––––––––––––––––

.white {
    background-color: #fff;
}

.red {
    background-color: $red;
}

.purple {
    background-color: $purple;
}

.near-black {
    background-color: $near-black;
    color: $white;
}

.blue {
    background-color: $primary-color;
    color: $white;
}

.light-grey {
    background-color: $secondary-color;
    color: $white;
}


// Section Styling
//––––––––––––––––––––––––––––––––––––––––––––––––––
.main {

    &-body {
        margin-top: 6.5rem;
    }

    &-anchor {
        display: block;
        height: 6.5rem; /*same height as header*/
        margin-top: -6.5rem; /*same height as header*/
        visibility: hidden;
    }

    &-sections {

        padding: 20px 0 40px 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
        }


        // Project Section Styling
        //––––––––––––––––––––––––––––––––––––––––––––––––––
        .project {

            &-header {
                line-height: 6.5rem;
                margin-bottom: 0;
            }

            &-image {
                width: 100%;
                height: auto;

                &-container {
                    position:relative;
                }

                &-overlay {
                    width:100%;
                    height:100%;
                    -webkit-transition: background-color .5s; /* Safari */
                    transition: background-color .5s;
                    background-color: none;
                    position:absolute;
                    top: 0;
                    &:hover {
                        background-color:rgba(51, 195, 240, 0.9)
                    }

                    a {
                        opacity: 0;
                        color: #fff;
                        display:block;
                        -webkit-transition: opacity .5s; /* Safari */
                        transition: opacity .5s;
                        text-align: center;
                        font-size:2.2rem;
                        text-decoration: none;
                        height: 100%;
                        width: 100%;

                        &:hover {
                            opacity: 1;
                        }


                    }
                }
            }

            &-link {
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            &-search {
                background-image: url('../images/search.msu.edu.png');
            }

            &-maps {
                background-image: url('../images/maps.msu.edu.png');
            }

            &-maps-interactive {
                background-image: url('../images/maps.msu.edu:interactive.png');
            }

        }

        // Skills Styling
        //––––––––––––––––––––––––––––––––––––––––––––––––––
        .circle-center {
            text-align: center;
        }

        .skills {

            &-cloud {
                width: 600px;
                height: 300px;
                margin: 0 auto;
                padding: 2em 0;
                font: 100% Arial, sans-serif;
                position: relative;

                span {
                    position:absolute;
                }

            }



            &-1 {
                top: 1em;
                left: 1.5em;
                font-size: 100px;
                color: #626262;
            }

            &-2 {
                top: 2em;
                left: 2em;
                font-size: 40px;
            }

            &-3 {
                font-size: 60px;
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
                top: 2.7em;
                left: .7em;
            }

            &-4 {
                font-size: 30px;
                top: 6.2em;
                left: 5em;
            }

            &-5 {
                font-size: 40px;
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &-6 {
                bottom: .43em;
                right: 1em;
                color: #5e0000;
                font-size: 120px;
            }

            &-7 {

            }

            &-8 {

            }

            &-9 {

            }

            &-10 {

            }

            &-11 {

            }

            &-12 {

            }

            &-13 {

            }

            &-14 {

            }

        }

        // Experience Styling
        //––––––––––––––––––––––––––––––––––––––––––––––––––
        .experience {
            &-header {
                color: $light-green;
            }

            &-job {

                &-title {
                    margin:0;
                }

                &-location {
                    margin:0;
                    font-size:1.8rem;
                }

                &-time {
                    font-size:1.5rem;
                }

                &-border {
                    border: 1px solid $light-green;
                    margin-bottom: 2.5rem;
                }
            }
        }

        // Education Styling
        //––––––––––––––––––––––––––––––––––––––––––––––––––
        .education {

            &-header {
                line-height: 6.5rem;
                margin-bottom: 0;
                color: $light-green;
            }

            &-title {
                margin-bottom: 0;
            }

        }

        // About Styling
        //––––––––––––––––––––––––––––––––––––––––––––––––––
        .about {

            &-header {
                line-height: 6.5rem;
                margin-bottom: 0;
                color: #fff;
            }

            &-image-container {
                display: block;
                width: auto;
                float: none;
                margin-bottom: 25px;
                @media ($bp-larger-than-tablet ) {
                    display: inline-block;
                    width: 32%;
                    float: left;
                    margin-bottom: 0;
                }

                @media ($bp-larger-than-desktop ) {
                    width: 25%;
                }
            }

            &-image {
                border: 0;
                border-radius: 120px;
                background-size: cover;
                background-position: center;
                max-width: 400px;
                height: 280px;
                margin: 10px auto;
                display: block;
                @media ($bp-larger-than-tablet ) {
                    float: left;
                    margin: 10px 0 0 0;
                }
            }

            &-chat {

                width: 280px;
                float: none;
                margin: 0 auto;

                @media ($bp-larger-than-mobile ) {
                    width: 340px;
                }

                @media ($bp-larger-than-phablet ) {
                    width: 420px;
                }

                @media ($bp-larger-than-tablet ) {
                    width: 68%;
                    margin: 0 0 0 0;
                    display: inline-block;
                    float: left;
                }

                @media (bp-larger-than-desktop ) {
                    width: 75%;
                }
                .bubble{
                    background-color: #F2F2F2;
                    border-radius: 5px;
                    display: inline-block;
                    padding: 10px 18px;
                    position: relative;
                    vertical-align: top;
                }

                .bubble::before {
                    background-color: #F2F2F2;
                    content: "\00a0";
                    display: block;
                    height: 16px;
                    position: absolute;
                    top: -8px;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    transform:             rotate( 29deg ) skew( -35deg );
                        -moz-transform:    rotate( 29deg ) skew( -35deg );
                        -ms-transform:     rotate( 29deg ) skew( -35deg );
                        -o-transform:      rotate( 29deg ) skew( -35deg );
                        -webkit-transform: rotate( 29deg ) skew( -35deg );
                    width:  20px;

                    @media ($bp-larger-than-tablet) {
                        top: 100px;
                        margin: 0;
                    }
                }

                .me {
                    float: left;
                    margin: 0;
                    @media ($bp-larger-than-tablet) {
                        margin: 5px 20px 5px 20px;
                    }
                }

                .me::before {
                    left: -9px;
                }
            }

        }

        // Contact Styling
        //––––––––––––––––––––––––––––––––––––––––––––––––––

        .contact {

            &-header {
                line-height: 6.5rem;
                margin-bottom: 0;
            }

        }

    }

}
